@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&amp;subset=latin,cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');
/* #experience,#about_me,#education,#portfolio, #certificates {scroll-margin-top: 1.2rem;}*/

:root {
  --main-body-color: #f2f2f2;
  --main-bg-color-1: #f2f2f2;
  --main-bg-color-2: hsl(210 30% 24%);;
  --main-modal-bg-color: #ffffff;
  --main-color: #f2f2f2;
  --main-font-size: 16px;

  --swiper-navigation-size: 44px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);

}


.swiper-button-next{
    right:0px !important;
    opacity: 0.5;
}
.swiper-button-prev{
    left:0px !important;
    opacity: 0.5;
}


.swiper-button-next:after,
.swiper-button-prev:after {
    font-size:20px !important;
    font-weight: 700;
    color: var(--main-bg-color-2) !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
}

    body {

        font-family: 'Open Sans', Arial,sans-serif;


    }

    .resume{
        background: #fff;
        padding: 0;
        box-shadow: 12px -17px 76px 3px rgba(0, 0, 0, 0.2);
    }

    .photo {
        padding: 0;

    }

    .profile-photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.96;
        object-position: center;
    }




    .head {
        font-family: 'IBM Plex Sans', Arial,sans-serif;

    }

    .head_info {
        align-self: center;
    }

    .head_name {
        text-align: left;
        font-weight: 700;
        line-height: 1;
        font-size: 4em;
        text-shadow: 1px 1px 1px #000000;
     }

    .head_spec {
        font-size: 3em;

    }

    .head_data ul {
        list-style-type: square;
    }

    .head_soc_link a {
        transition: all 1s ease 0s;
        padding: 5px;
        display: inline-block;
        float: right;
    }

    .head_soc_link a:hover {
        filter: grayscale(0);
    }

    .info {

    }

    .stat {
        padding:0;
    }

    .bg {
        background-color: var(--main-bg-color-2);
        color: var(--main-color)
    }

    .profiles {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .profiles a {
        padding: 8px;
        display: inline-block;
    }

    .icon {
        height: 25px;
        transition: all 0.5s ease 0s;

    }

    .git:hover {fill:#fff}
    .gmail:hover {fill:#EA4335}
    .teleg:hover {fill:#26A5E4}
    .vk:hover {fill:#0077FF}
    .skype:hover {fill:#00AFF0}
    .wa:hover {fill:#25D366}

    .info_data {

        font-size: 15px;
    }

    .contacts {

    }

    .contacts a {
        display: block;
        text-align: left;
        color:var(--main-color);
        transition: all 0.2s ease 0s;
    }
    .contacts a:hover {
        color:#fff;
    }

    .contacts a i {opacity:0.7; transition: all 0.2s ease 0s;}
    .contacts a:hover i {opacity:1;}

    .contacts p {
        margin-bottom: 10px;
    }


    .contacts p:last-child {
        margin-bottom: 0px;
    }

    .formation {

    }

    .formation svg {
        width:50px;
        fill:var(--main-color);
        margin-right:10px;
        transition: all 1s ease 0s;
    }

    .formation svg:hover {
        fill:#fff;
    }

    .examples {

    }

    .manual {

    }

    .auto {

    }

    .examples a {
        width: 100%;
        text-align: left;
        color: var(--main-color);
    }


     .examples a:hover {
        color:#fff
     }

    .skills {

    }


    bg_section {
        padding: 2em 3em;
        background-color: hsl(0, 0%, 95%);
    }

    .container_skills {
        width: 100%;
        background-color: #ddd;
        height: 5px;
        background-color: rgba(255, 255, 255, 0.15);
        margin-bottom:10px;
    }

    .manual_skills {width: 90%; background-color: #ffffffcc; height: 5px;}
    .automated_skills {width: 50%; background-color: #ffffffcc; height: 5px;}
    .api_skills {width: 80%; background-color: #ffffffcc; height: 5px;}
    .bd_skills {width: 100%; background-color: #ffffffcc; height: 5px;}



    .skills img  {
        height: 25px;
    }



    .upload {
        display: flex;
        justify-content: space-around;
    }

    .upload a {
        color: var(--main-color);
    }

    .upload a:hover {
           color: #fff;
    }

    .img_up {
        width: 50px;
        height: 50px;
        fill: var(--main-color);
        transition: all .5s ease;

    }

    .sections {
        padding: 2em 3em;

    }

    .link {
        text-decoration:none;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        display:inline-block;
    }


    .link:after {
        display: block;
        content: "";
        height: 1px;
        width: 0%;
        background-color: #3399FF;
        transition: width 0.4s ease-in-out;
    }

    .link:hover:after,
    .link:focus:after {
        width: 100%;
    }

    .section_title {
        font-size: 1.6em;
        font-weight: 700;
        line-height: 1.25rem;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    .opacity {
        opacity: 0.8;
    }
    .swiper {

        height:100px;
    }

    .swiper img{
        max-height: 100%;
        width: 60%;
        background-size: cover;
    }

    .swiper img:hover{


    }

    .swiper .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider {
        width:100%;
        padding: 10px;
        background: var(--main-color);
        border-radius: 20px;
    }

    .proj {
        float:right;
        cursor: pointer;
        margin: 1em;
        display: flex;
        align-items: center;
        opacity:0;
        justify-content: space-around;
        transition: .4s
    }

    .head_data {
        color: hsl(214.29deg 33.91% 80.61%);
    }




    .company_text {
        opacity: 0.8;
        line-height: 1.6;
    }


    #skills_test li {
        opacity: 0.8;
}

    .tab_img {

            height: 70px;
    }






.op-border {
    position: relative;
}
.op-border:before,
.op-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 20px solid rgba(51, 122, 183, 0.4);
    transition: border-width 0.2s;
}
.op-border:after {
    border-width: 0;
}
.op-border:hover:after  {
    border-width: 40px;
}
.op-border img {
    width: 100%;
}




.desktop-wrapper {
    width: 300px;
    position: relative;
    heightL
    background-image: url("/MyPortfolio/static/img/macbook.png");
}


.navbar-toggler-icon{

}



.tb_outer_wrap {

}

.title_img {

    box-shadow: 2px 10px 30px hsla(0, 0%, 0%, 0.25);
    border-radius: 0.375em;
    cursor: pointer;
}


.title_img:hover  {

}












.mobile-wrapper {
    width: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -3em);
}
.mobile-wrapper:after {
    content: '';
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 25px;
    display: block;
    background: linear-gradient(90deg, #000000, 75%, #4c4c4c);
    z-index: -1;
    transform: perspective(1000px) rotateY(0deg) scale(0.85) translate3d(25px, 0px, 0);
}
.mobile-wrapper:before {
    width: 85%;
    height: 2%;
    background: black;
    position: absolute;
    bottom: 7%;
    left: 4%;
    content: '';
    border-radius: 50%;
    filter: blur(9px);
    opacity: .2;
    transform: perspective(113px) rotate3d(1, 0, 0.5, 338deg) scale3d(0.8, 0.8, 0.8);
}
.mobile-wrapper .mobile {
    width: 100%;
    padding-bottom: 216%;
    background: black;
    border-radius: 25px;
    transform: perspective(1000px) rotateY(35deg) scale3d(0.8, 0.8, 0.8);
}
.mobile-wrapper .mobile .photo {
    border-radius: 0 0 15px 15px;
    background: black;
    width: 50%;
    padding-bottom: 13%;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    z-index: 1;
}
.mobile-wrapper .mobile .photo:after {
    content: '';
    width: 40%;
    padding-bottom: 5%;
    border-radius: 20px;
    background: #191919;
    border: 2px solid #191919;
    position: absolute;
    right: 30%;
    top: 50%;
    transform: translateY(-50%);
}
.mobile-wrapper .mobile .photo:before {
    content: '';
    width: 8%;
    padding-bottom: 8%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #212121;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}
.mobile-wrapper .mobile .screen {
    border-radius: 20px;
    width: 95%;
    height: 98%;

    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



































.check-list {
  margin: 0;
  padding-left: 1.2rem;
  height: 8em;
}

.site {
  height: 3em;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 6px;
    height: 1em;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #666666;
    transform-origin: bottom left;
    transform: rotate(45deg);
}




.wrapper {

}

.logo {
    display: flex;
    align-items: center;
}

.wrapper span {
    cursor: pointer;
    }

.wrapper svg {
    width: 1em;

    margin: 0.3em;
}

.html:hover {fill: #E34F26;color: #E34F26}
.css:hover {fill: #1572B6}
.android:hover {fill:#3DDC84}
.postman:hover {fill:#FF6C37}
.swagger:hover {fill:#85EA2D}
.json:hover {fill:#000000}
.redmine:hover {fill:#B32024}
.trello:hover {fill:#0052CC}
.figma:hover {fill:#F24E1E}
.jira:hover {fill:#0052CC}
.postgres:hover {fill:#4169E1}
.kafka:hover {fill:#231F20}
.argo:hover {fill:#EF7B4D}
.testrail:hover {fill:#65C179}
.charles:hover {fill:#231F20}
.confluence:hover {fill:#172B4D}






.accordion {

}
.accordion-tabs {
  display: none;
}
.accordion-tabs :focus {
  outline: none;
}
.accordion-item {
border:none;
  border-bottom: 1px solid #eaeaea;
}
.accordion-item:last-child {

}
.accordion-item__label {
  margin: 0;
  padding: 1.25rem;
  cursor: pointer;
  transition: padding 0.2s ease;
  position: relative;
}
.accordion-item__label:after {
  content: "";
  height: 4px;
  width: 4px;
  position: absolute;
  top: -4px;
  right: 1.25rem;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-radius: 2px;
  transform: rotate(45deg);
  border-color: transparent #447fff #447fff transparent;
  opacity: 1;
  transition: opacity 0.1s ease;
}
.accordion-item__label:hover {
  background: #d3e1ff;
}
.accordion-item__container {
  padding: 0 1.25em;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: padding 0.2s ease, opacity 0.5s 0.15s ease;
}
.accordion-active {

}
.accordion-active .accordion-item__label {
  padding-bottom: 0;
      font-weight: 900;
}
.accordion-active .accordion-item__label:hover {
  background: none;
}
.accordion-active .accordion-item__label:after {
  opacity: 0;
}
.accordion-active .accordion-item__container {
  padding: 1.25em;
  height: auto;
  opacity: 1;
}
.accordion-active .accordion-item__container p:first-child, .accordion-active .accordion-item__container h1:first-child, .accordion-active .accordion-item__container h2:first-child, .accordion-active .accordion-item__container h3:first-child, .accordion-active .accordion-item__container h4:first-child, .accordion-active .accordion-item__container h5:first-child, .accordion-active .accordion-item__container h6:first-child {
  margin-top: 0;
}
.accordion-active .accordion-item__container p:last-child, .accordion-active .accordion-item__container h1:last-child, .accordion-active .accordion-item__container h2:last-child, .accordion-active .accordion-item__container h3:last-child, .accordion-active .accordion-item__container h4:last-child, .accordion-active .accordion-item__container h5:last-child, .accordion-active .accordion-item__container h6:last-child {
  margin-bottom: 0;
}

@media (min-width: 800px) {
  .accordion-tabs {
    display: flex;

  }
  .accordion-tabs .accordion-tab {

    padding: 1rem 2rem;
    font: inherit;
    flex: 1;
    border: none;
    cursor: pointer;
    transition: background 0.1s ease;
  }
  .accordion-tabs .accordion-tab:hover {
        background: transparent;
  }
  .accordion-tabs .accordion-tab:last-child {
    border-right: 0;
  }
  .accordion-tabs .accordion-tab.accordion-active {
        background: transparent;

  }



  .accordion-item__label {
     display:none;
  }
  .accordion-item {

    display: none;
    border: none;
    background: transparent;

  }

  .accordion-item__label, .accordion-item__container {
    padding: 0;
    transition: inherit;
  }
  .accordion-item__label {
    margin-bottom: 1.5rem;
  }
  .accordion-item.accordion-active {
    display: block;
  }
  .accordion-item.accordion-active .accordion-item__container {
    padding: 0;
  }
}


.accordion {
 /* box-shadow: 0 1em 2em -0.9em rgba(0, 0, 0, 0.7); */
  border-radius: 10px;
  overflow: hidden;
  width: 100%;


}
@media (min-width: 600px) {
  .accordion {

  }

}

.accordion + p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 2rem;
}
































    .cards:hover .proj {
        opacity:1;
    }

    .cards {

        perspective: 1500px;

    }

    .cards .content {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
    }

    .more {
        display: none;
    }
    .more:checked ~ .content {
        transform: rotateY(180deg);
    }



    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        border-radius: 6px;

    }

    .back p {
        font-size:14px;
    }


    .front {
        background-color: #fff;
        background-size: cover;
        background-position: center center;

    }

    .back {
        transform: rotateY(180deg);


    }

    .back .inner {
        padding: 1em;

    }

.style {


}











.button_badge button {
    margin: 5px;
}
























    .fancybox-stage .modal-body {
        background: var(--main-modal-bg-color);
        padding: 2em;

    }


    a {
        text-decoration: none;

    }



    .education {
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .education_img {
        width: 200px;
        margin: 0px 20px 0px 20px;
    }

    .modal_img {
            width: 120px;
            float: right;


    }

    .modal_site_img {
            width: 500px;


    }


    .modal_icon {
        max-height:40px;
        margin-right: 20px;
    }



    .mod_icon {
        display: flex;
    }


    .card-body {
        display: flex;
        flex-direction: row;
        align-items: center;

    }





    .fancybox-stage .fancybox-slide--html {
        width  : 100%;
        margin: 0;
        padding: 0;

}


    .close-Modal {
        position: fixed;
        width: 52px;
        top: 20px;
        right: 30px;
        z-index: 999;

}



    .closebt {
        transition: all 0.2s;
        cursor:pointer;
}

    .closebt:hover {
        transform:rotate(90deg);
}














    .modal_card {

        display: flex;
        margin: 0 -5px;
        padding: 3em;
        justify-content: space-between;
        font-family: 'Open Sans', Arial,sans-serif;
    }

    .panel-body {
        display: flex;
        justify-content: space-between;

    }























.mytooltip {
display: inline;
position: relative;
z-index: 999
}
.mytooltip .tooltip-item {
    background: rgb(53 95 220);
    cursor: pointer;
    color: #ffffff;
    font-weight: 700;
    display: inline-block;
    padding: 0 10px
}
.mytooltip .tooltip-content {
    position: absolute;
    z-index: 9999;
    left: 50%;
    margin: 0px 0 15px -59px;
    bottom: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    -webkit-box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
    box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
    opacity: 0;
    cursor: default;
    pointer-events: none;
}
.mytooltip .tooltip-content::after {
content: '';
top: 100%;
left: 50%;
border: solid transparent;
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-color: #2a3035 transparent transparent;
border-width: 10px;
margin-left: -10px
}
.mytooltip .tooltip-content img {
position: relative;
height: 170px;

}
.mytooltip .tooltip-item::after {
content: '';
position: absolute;
width: 360px;
height: 20px;
bottom: 100%;
left: 50%;
pointer-events: none;
-webkit-transform: translateX(-50%);
transform: translateX(-50%)
}
.mytooltip:hover .tooltip-item::after {
pointer-events: auto
}
.mytooltip:hover .tooltip-content {
pointer-events: auto;
opacity: 1;
-webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);

}

.mytooltip .tooltip-text {
font-size: 14px;
line-height: 24px;
display: block;
padding: 1.31em 1.21em 1.21em 0;
color: #fff;
}





.olcards,
.olcards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.olcards {
  list-style: none;
  counter-reset: cardCount;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
}
.olcards li {
  counter-increment: cardCount;
  display: flex;
  --labelOffset: 1rem;
  --arrowClipSize: 1.5rem;
}

.olcards li::before {
  content: counter(cardCount, decimal);
  background: #fafafa;

  font-weight: 700;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1em;
}

.olcards li .content {

    display: grid;
    padding: 10px;

}


























.accordion-tab span {transition: .2s;}

.ui span, .api span, .mobile span {opacity:0}
.ui:hover span, .api:hover span, .mobile:hover span {opacity:1}








.icon-tab.active img {}
.icon-tab:hover img {}




.icon-label {
    color:  #b3b3b3;
    font-size: 16px;

    transition-duration: 0.35s;
}


.icon-tab.active .icon-label, .icon-tab:hover .icon-label {
    color: black;
}

.icon-tab:hover span.glyphicon {
    margin-bottom: 10px;
}





@media (max-width:767px) {
    .icon-tab {

    }

    .icon-tab span {
        display: inline !important;
        vertical-align : middle;
    }

    .icon-tab.active span.glyphicon {
        padding-right: 10px;
    }

    .icon-tab:hover span.glyphicon {
        padding-right: 10px;
        transition-duration: 0.25s;
    }
}



.img-section {
    width: 100%;
    background: linear-gradient(90deg, #337AB7 0%, #337AB7 45%, #FFF 45%, #FFF 100%);
    display: flex;
    margin: 20px 0;
}
.img-section .img {
    border: 20px solid rgba(191, 226, 255, 0.8);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
    margin: 40px;
    box-sizing: border-box;
    flex: 0 0 45%;
    width: 45%;
}
.img-section .img-data {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    margin: 40px;
}
@media only screen and (max-width: 700px) {
    .img-section {
        flex-flow: row wrap;
    }
    .img-section .img-data {
        background: #FFF;
        border-bottom: 8px solid #337AB7;
    }
    .img-section img {
        margin: 40px auto;
        flex: 0 0 80%;
        width: 80%;
    }
}









.company_link {
    /* background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  */
}

.company_link:hover {

}





    .tabs {


    }




    .title {
        text-align: center;

    }


    .item {

        padding: 0 3em;
        flex-basis: 70%;


    }

    .company {
        text-align: center;
        padding: 30px;
        background: #2f4154;
        color: #fff;
        margin: 0;
    }

    .modal_title {
        text-align:center;
        padding: 20px;
    }


























    .spec {
    font-size: 3vw;

    }


































    .modal-body ul{
        list-style-type: none;

    }

.modal_sections {


}


.list6b {

    list-style: none;
}
.list6b li{

}
.list6b li:before {
    padding-right:10px;
    font-weight: bold;
    color: #C0C0C0;
    content: "\2714";
    transition-duration: 0.5s;
}
.list6b li:hover:before {
    color: #337AB7;
    content: "\2714";
}


    .git:hover {fill:#fff}
    .gmail:hover {fill:#EA4335}
    .teleg:hover {fill:#26A5E4}
    .vk:hover {fill:#0077FF}
    .skype:hover {fill:#00AFF0}
    .wa:hover {fill:#25D366}




     .nav-link {

     }



    .experience a {

    }



    #education a:hover {

    }

    .company_name {
        color:#22232b;
        font-size: 1.3em;

    }

    .company_spec {
        font-size: 1.2em;

    }

    .close {
        position: relative;
        width:100%;
        text-align:center;
    }
    .closebt {
        transition: all 0.2s;
        cursor:pointer;
        filter: invert(0.4);
        position: fixed;
        right: 40px;
        z-index: 999;
    }

    .closebt:hover {
        transform:rotate(90deg);
        filter: invert(1);
    }

     .nav-link:hover {

     }

     .conteiners {
        padding: 0px;
        background: white;
        box-shadow: 12px -17px 76px 3px rgba(0, 0, 0, 0.2);
        width: 80%;
        width: 1020px;
        margin: 30px auto;
     }

    .course {
        list-style-type: disclosure-closed;
        margin: 0;
    }

    .img_logo_hh, .img_logo_habr {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        filter: grayscale(1);
        transition: all .5s ease;
    }

    .img_logo_hh:hover, .img_logo_habr:hover  {
        filter: none;
    }





     .img_load {
        width: 30px;
        fill:#fff;
     }





















    .content_mod {


    }

    .content_mod_section {
        width:80%;
        margin: 20px auto;

    }

    .fix-bg {
        height: 520px;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        margin: 20px 0;
}


@media (max-width: 767px) {
    .fix-bg {
        background-attachment: scroll;
        height: 320px;
    }
}




    .cont {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    align-items: baseline;

    }

    .col1 {
        flex-basis: 25%;
        background-color: #414a56;
        color: #e6e6e6bd;
        min-width: 300px;
        text-align: left;
    }




    .col2 {
        flex-basis: 75%;
        display: flex;
        flex-direction: column;
    }



     .header {


     }

     .header_data {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 50%;

     }

     .header_info {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 70%;

     }


    .header_profession {
        margin: 0 0 0.5em;
        padding: 0;
        font-size: 1.1em;
        flex-basis: 100%;

    }


    .btn_work{
        padding: 10px;
        color:#fff;
    }

    .btn_work:hover{
        background-color: #22232b;
    }



    .col_info span{

        font-size: 0.9em;
    }






    .profiles_icon {
        flex-wrap: wrap;
        display: flex;
        justify-content: flex-start;
        margin-top: auto;
        margin-bottom: 0;
        flex-wrap: wrap;
        padding: 0;
    }

    .profiles_item {
        padding: 8px;
    }

    .section {
        padding: 20px 40px 0px 40px;
    }

    .section_header {
        margin: 0 20px 0 0;
        padding: 0;
    }



    .subsection_while {
        display: block;
        position: absolute;
        width: 100px;
        top: 0px;
        left: -130px;
        font-weight: 400;
        line-height: 1.3;
        font-size: 12px;
        text-align: left;
    }





    .section_inner {
        border-left: 2px dotted;
        margin: 0 0 0 150px;
        padding: 0 30px 0 30px;
        position: relative;

    }



    .section_subsections_exp{
        border-left: 2px dotted;
        padding: 0 30px 1em 30px;
        position: relative;
        flex-basis: 80%;
    }


    .carousel-inner {
        height: 410px;
    }



    .menu {
        background-color:var(--main-body-color);
    }

    .nav-link.active {
    color: #6ea8fe;
    }

.dark-version {
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    border-radius: 50px;

}
.dark-version input {
    display: none;
}
.dark-version .toggledark {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 50px;

}
.dark-version .toggledark:hover {
        box-shadow: none;

}


.dark-version .toggledark:before {

    content: "\f0eb";
    font-family: 'Font Awesome\ 5 Free';

}

.course_info li{
    padding-left:1em;
}

.course_info li::marker {
    content: "\f14a";
    font-family: 'Font Awesome\ 5 Free';
}

.dark-version input:checked + .toggledark {
    background: #000;
    box-shadow: none;
}
.dark-version input:checked + .toggledark:before {
    color: #FF5C58!important;
}



body.dark {
    background: #38444c!important;
}


.dark *,
.dark *:after,
.dark *:before {
    color: #fff!important;
    background-color: #38444c!important;
    fill:#ffffffa3;
}

.dark .manual_skills, .dark .automated_skills, .dark .api_skills, .dark .bd_skills  {
    background-color: #ffffffcc!important;
}


.dark .navbar-toggler {background-color: #e9e9e9!important;}
.dark .mobile-wrapper .mobile .photo {background: black!important;}


.style {
      color: #000;
    text-decoration: none;
}

.style {
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  transition:  0.3s ease;
}
.style .arrow-icon {
  position: relative;
  opacity:0;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  vertical-align: top;
}

.style:hover .arrow-icon {
   transform: translate3d(5px, 0, 0);
   opacity:1;
}



.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<?xml%20version=%221.0%22%20?%3E%3Csvg%20viewBox=%220%200%20512%20512%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Ctitle/%3E%3Cg%20data-name=%221%22%20id=%22_1%22%3E%3Cpath%20d=%22M441.13,166.52h-372a15,15,0,1,1,0-30h372a15,15,0,0,1,0,30Z%22/%3E%3Cpath%20d=%22M441.13,279.72h-372a15,15,0,1,1,0-30h372a15,15,0,0,1,0,30Z%22/%3E%3Cpath%20d=%22M441.13,392.92h-372a15,15,0,1,1,0-30h372a15,15,0,0,1,0,30Z%22/%3E%3C/g%3E%3C/svg%3E");
    background-color: transparent!important;

    }

.navbar-toggler:focus {
    box-shadow:none;
}







.list2a {
    margin: 0;
    list-style: none;
    counter-reset: li;
    width: fit-content;
}
.list2a li {
    position: relative;
    padding-left: 20px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}


.list2a li:before {
    line-height: 20px;
    position: absolute;
    top: 4px;
    left:-40px;
    width:40px;
    text-align:center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background: #22232b;
    counter-increment: li;
    content: counter(li);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.list2a li:hover:before {
    width:46px;
}
.list2a li:after {
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-left-color: #22232b;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}
.list2a li:hover:after {
    margin-left: 6px;
}


.nav_col {
    display:none;
}

.nav_soc{
    padding: 0.5em;
    display: flex;
    border-radius: 50px;
    width: fit-content;
    justify-content: space-evenly;
    align-items: center;
}

.description {
     line-height: 1.4;
}

.date {
    padding-right:20px

}



.example {
    padding:2em;
}


@media (max-width: 992px){
.proj {
    display:none;
   }
body {
    font-size: calc(12px + (15 - 12) * ((100vw - 320px) / (1920 - 320)));
}
.cards {

 }
}


@media (max-width: 768px) {
.head {
    padding-bottom: 0;
      }
.swiper img{
    width:40%;
}
.nav_soc {
    display:none;
}
.head_soc_link a {
        float: left;
}
.nav_col {
    display:block;
}

.contacts {
    margin-top:0 !important;
}
.head_name {
    font-size: calc(30px + (60 - 30) * ((100vw - 320px) / (1920 - 320)));
}
.head_spec {
        font-size: calc(25px + (50 - 25) * ((100vw - 320px) / (1920 - 320)));
    }

}


@media (max-width: 1200px){
    .check-list {
        height:auto;
    }
}